.Sidebar {
	display: flex;
	flex-direction: column;
	position: relative;
	padding-top: 4rem;
	padding-left: 2rem;
	transition: all 300ms ease;
}

.logo {
	height: 5rem;
	display: flex;
	font-weight: bold;
	font-size: 22px;
	gap: 1rem;
	align-items: center;
	justify-content: center;
}

.logo img {
	height: 3rem;
	width: 3rem;
}

.logo > span > span {
	color: var(--pink);
}

.menu {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.menuItem {
	display: flex;
	align-items: center;
	gap: 1rem;
	height: 2.5rem;
	margin-left: 2rem;
	/* margin-right: 2rem; */
	position: relative;
	transition: all 300ms ease;
	font-size: 0.9rem;
	border-radius: 0.7rem;
	/* padding: 0.5rem 1rem;
	border-radius: 1rem;
	cursor: pointer;
	transition: all 300ms ease; */
}

.menuItem:hover {
	cursor: pointer;
}

.active {
	background: var(--activeItem);
	margin-left: 0;
}

.active::before {
	content: '';
	width: 8px;
	height: 100%;
	background: var(--pink);
	margin-right: calc(1rem-8px);
}

.menu .menuItem:last-child {
	position: absolute;
	bottom: 2.3rem;
	width: 100%;
}
